/* DOCUMENT INFORMATION
	- Document: main.css
	- Version:  1.0
	- Client:   
	- Author:   Purna Doddapaneni
      			Dilesh Fernando
      			Paul Charles
      			Cheng Yeh Lee   
*/

/* fonts for the clock */
@font-face {
    font-family: 'digital_dream_fatregular';
    src: url('fonts/DIGITALDREAMFAT-webfont.eot');
    src: url('fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
         url('fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
         url('fonts/DIGITALDREAMFAT-webfont.svg#digital_dream_fatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'digital_dream_fatregular';
	font-weight: bold;
	color: #00FF00;
	background-color: #000000;
}

/* Main div the contants the all the elements */
div#main_display{
	position: relative;
	width: 800px;
	margin: 0 auto;
}

/* Time display */
div#time_display{
	position: absolute;
	width: 705px;
	height: 150px;
    top: 0;
 	left: 0;
}

/* Time control display */
div#controls_display{
	position: absolute;
	width: 705px;
	height: 150px;
    top: 153px;
    font-family: Verdana, Geneva, sans-serif;
    font-size:25px;
    text-align: center;
    padding-top: 20px;
}

/* display time */
#full-time{
	font-size: 100px;
}

/* display AM/PM */
#am_pm{
	font-size: 25px;
}

/* select time mode box */
div#time_mode{
	width: 225px;
	margin: 0 auto; 
	border: 4px solid #00FF00;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 20px; 
	background-color: #383838;
}

/* time input box */
div#set_time_input{
	
	width: 500px;
	margin: 0 auto; 
	border: 4px solid #00FF00;
	border-radius: 10px;
	padding: 35px 10px 35px;
	background-color: #383838;
}

/* set time button */
#set_time {
	padding:5px 15px;
    margin-left: 60px;
    font-size: 24px;
	border-radius: 50%;
	font-family: Verdana, Geneva, sans-serif;
	color: #00FF00;
    background-color: #505050;
    border: 4px solid #00FF00; 
    cursor:pointer;
}

/* time slecect drop down box */
select{
	padding:3px;
	border-radius:5px;
	cursor:pointer;
	background-color: #C0C0C0;
}
	






/* Weekday display */
div#weekday_display{
	position: absolute;
	width: 705px;
	height: 150px;
    	top: 450px;
 	left: 100px;
}

/* display weekday*/
#full-weekday{
    	font-size:50px;
}

/* Day input box */
div#set_day_input{
	
	width: 500px;
	margin: 0 auto; 
	border: 4px solid #00FF00;
	border-radius: 10px;
	padding: 15px 10px 15px;
	background-color: #383838;
}

/* Set date button */
#set_date {
	padding:5px 15px;
	margin-left: 30px;
	font-size: 22px;
	border-radius: 50%;
	font-family: Verdana, Geneva, sans-serif;
	color: #00FF00;
	background-color: #505050;
	border: 4px solid #00FF00; 
	cursor:pointer;
}

/* Calendar display */
div#daymonth_display{
	position: absolute;
	width: 705px;
	height: 150px;
    top: 553px;
    font-family: Verdana, Geneva, sans-serif;
    font-size:25px;
    text-align: center;
    padding-top: 20px;
}

div#timer_controls
{
	position: absolute;
	width: 705px;
	height: 150px;
    top: 900px;
    font-family: Verdana, Geneva, sans-serif;
    font-size:25px;
    text-align: center;
    padding-top: 20px;
}

div#timer_display{
	position: absolute;
	width: 705px;
	height: 150px;
    top: 800px;
 	left: 0;
}